<div class="candidates">
    <h2 i18n="@@candidate">Candidates</h2>
    <button mat-raised-button i18n="@@createCandidate" color="primary">Create Candidate</button>
    <table mat-table [dataSource]="candidates">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef i18n="@@firstName">First Name</th>
            <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef i18n="@@lastName">Last Name</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef i18n="@@email">E-Mail</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef i18n="@@actions">Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" type="button" i18n="@@edit">Edit</button>
                <button mat-button color="warn" type="button" i18n="@@delete">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator
        [length]="totalCount"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageEventChanged($event)"
        showFirstLastButtons
        i18n-aria-label="@@pagination_selectPageOfCandidates"
        aria-label="Select page of candidates"></mat-paginator>
</div>
