<section class="manage-single-choice">
  <mat-form-field appearance="standard">
    <mat-label i18n="@@name">Name</mat-label>
    <input matInput type="text" [value]="name" (input)="onNameChanged($event)">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label i18n="@@question">Question</mat-label>
    <input matInput type="text" [value]="text" (input)="onTextChanged($event)">
  </mat-form-field>

  <div class="question-wizard__control-buttons">
    <button mat-raised-button color="primary" type="submit" i18n="@@saveChanges" (click)="saveChanges()">Save changes</button>
    <button mat-raised-button color="basic" type="submit" i18n="@@discard" (click)="discardChanges()">Discard</button>
  </div>

  <mat-radio-group>
    <div *ngFor="let option of answerOptions, let i = index">
      <mat-form-field appearance="standard">
        <mat-label i18n="@@answer">Answer {{ i + 1 }}</mat-label>
        <input matInput type="text" [value]="answerOptions[i].text" (input)="onAnswerTextChanged($event, i)">
      </mat-form-field>
      <mat-radio-button i18n="@@isCorrect" [checked]="option.isCorrect" [value]="option" (change)="onCorrectOptionChange($event)">
        Is Correct
      </mat-radio-button>
      <button class="manage-subjects__button" mat-raised-button color="primary" type="submit" i18n="@@delete" (click)="deleteAnswerOption(i)">Delete</button>
    </div>
  </mat-radio-group>
  <button class="manage-subjects__button" mat-raised-button color="primary" type="submit" i18n="@@addAnswerOption" (click)="addAnswerOption()">Add answer option</button>
</section>