<section class="manage-single-choice">
  <mat-form-field appearance="standard">
    <mat-label i18n="@@name">Name</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label i18n="@@question">Question</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <div class="question-wizard__control-buttons">
    <button mat-raised-button color="primary" type="submit" i18n="@@saveChanges">Save changes</button>
    <button mat-raised-button color="basic" type="submit" i18n="@@discard" (click)="discardChanges()">Discard</button>
  </div>

  <div *ngFor="let option of answerOptions, let i = index">
    <mat-form-field appearance="standard">
      <mat-label i18n="@@answer">Answer {{ i + 1 }}</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-checkbox i18n="@@isCorrect" [checked]="option.isCorrect" (change)="onCorrectOptionChange($event, i)">
      Is Correct
    </mat-checkbox>
    <button class="manage-subjects__button" mat-raised-button color="primary" type="submit" i18n="@@delete"
      (click)="deleteAnswerOption(i)">Delete</button>
  </div>
  <button class="manage-subjects__button" mat-raised-button color="primary" type="submit" i18n="@@addAnswerOption"
    (click)="addAnswerOption()">Add answer option</button>
</section>